<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Use your own Ripple-REST server if you can. Official testnet server is slow and whole test suite takes very long time to finish. -->
    <add key="RippleRestServer" value="https://api.altnet.rippletest.net:5990"/>
    <!--<add key="RippleRestServer" value="http://127.0.0.1:5990"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>